body[b-jsgf1mdw1m] {
  background-color: #001f3f !important;
  color: white !important;
}

.container[b-jsgf1mdw1m], .navbar[b-jsgf1mdw1m], .footer[b-jsgf1mdw1m], .card[b-jsgf1mdw1m], .table[b-jsgf1mdw1m] {
  background-color: transparent !important;
  color: white !important;
}

label[b-jsgf1mdw1m], h1[b-jsgf1mdw1m], h2[b-jsgf1mdw1m], h3[b-jsgf1mdw1m], h4[b-jsgf1mdw1m], h5[b-jsgf1mdw1m], h6[b-jsgf1mdw1m], p[b-jsgf1mdw1m], a[b-jsgf1mdw1m], span[b-jsgf1mdw1m], th[b-jsgf1mdw1m], td[b-jsgf1mdw1m], div[b-jsgf1mdw1m] {
  color: white !important;
}
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jsgf1mdw1m] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jsgf1mdw1m] {
  color: #0077cc;
}

.btn-primary[b-jsgf1mdw1m] {
  color: #faf8f8;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jsgf1mdw1m], .nav-pills .show > .nav-link[b-jsgf1mdw1m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jsgf1mdw1m] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jsgf1mdw1m] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jsgf1mdw1m] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jsgf1mdw1m] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jsgf1mdw1m] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
